---
import { client } from "../../../lib/sanity";
import PortableText from "../../components/PortableText.astro";

export async function getData() {
  const query = `*[_type == "events"]`;
  // Asegúrate de que 'client' esté definido y configurado correctamente para hacer la petición
  const data = await client.fetch(query);

  return data.map((event) => {
    return {
      params: {
        slug: event.slug?.current || "",
      },
      props: { ...event },
    };
  });
}

const { title, body } = Astro.props;
---

<h1>{title}</h1>

<PortableText portableText={body} />
