---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Experiencias Únicas",
    description:
      "Sumérgete en eventos memorables diseñados para desafiar lo convencional y despertar tus sentidos.",
    icon: "mdi:handshake",
  },
  {
    title: "Creatividad Sin Límites",
    description:
      "Explora un mundo de posibilidades donde la imaginación es el único límite en nuestros eventos innovadores.",
    icon: "mdi:feather",
  },
  {
    title: "Atención Personalizada",
    description:
      "Disfruta de un trato excepcional con nuestro servicio dedicado, adaptado a cada cliente y necesidad.",
    icon: "mdi:people-outline",
  },
  {
    title: "Tecnología Innovadora",
    description:
      "Experimenta la última tecnología para una experiencia moderna y envolvente en cada evento.",
    icon: "mdi:graph",
  },
  {
    title: "Diseño Vanguardista",
    description:
      "Déjate sorprender por ambientes impresionantes y diseño de vanguardia en cada rincón de nuestros espacios",
    icon: "mdi:search-web",
  },
  {
    title: "Comunidad Vibrante",
    description:
      "Únete a una comunidad de personas apasionadas por la aventura y la diversión en cada evento de Trippy Trip.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    <p>
      Trippy Trip catapulta a sus asistentes hacia aventuras<span
        class="text-primary"
      >
        inolvidables</span
      >, donde la creatividad desata emociones. Cada detalle se cuida
      meticulosamente, asegurando experiencias <span class="text-primary"
        >únicas</span
      >. La excelencia en el servicio es primordial, cada huésped se siente
      especial. Desde festivales vibrantes hasta escapadas íntimas, Trippy Trip
      transforma lo ordinario en extraordinario, creando un espacio donde la
      diversión y la aventura convergen en una experiencia excepcional que deja
      una impresión duradera.
    </p>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
