---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

import { client } from "../../lib/sanity";



const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
const query = `*[_type == "event"]`;
const eventData = await client.fetch(query)

console.log(featuredSites);

---

<ContentSection title="Eventos" id="evento">
  <Fragment slot="lead">
    Explora la sección de eventos, descubre <span class="text-primary"
      >Experiencias únicas</span
    >.{" "}
    y crea
    <span class="text-primary">recuerdos inolvidables.</span> ¡No te los pierdas!"{
      " "
    }
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="https://astro.build/showcase/">
        ...and more &rarr;
      </a>
    </p>
  </div>
</ContentSection>
